<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.snowy.thinkbox.mapper.MyDocMapper" >

    <update id="updateViewCount" >
        update doc set view_count = view_count + 1 where id = #{id}
    </update>

    <update id="updateVoteCount" >
        update doc set vote_count = vote_count + 1 where id = #{id}
    </update>

    <update id="updateEbookInfo" >
        update ebook e1, (select ebook_id, count(*) doc_count, sum(view_count) view_count, sum(vote_count) vote_count from doc group by ebook_id) e2 set e1.doc_count = e2.doc_count, e1.view_count = e2.view_count, e1.vote_count = e2.vote_count where e1.id = e2.ebook_id;
    </update>

    <select id="findComment"  >
        SELECT t1.*, t2.name
        FROM comments t1
                 JOIN user t2 ON t1.user_id = t2.id
        WHERE t1.doc_id = #{docID};
    </select>
</mapper>
